{%load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {% block title %} 
    {% endblock %}
  </title>
  <link rel="stylesheet" href="{% static "approval/styles/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "approval/styles/main.css" %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="{% static "approval/js/bootstrap.min.js" %}"></script>
</head>
<body>

    <nav class="navbar navbar-expand-sm navbar-dark my-nav">
        <ul class="navbar-nav ml-0">
            <li class="nav-item">
              <a class="nav-link active" href="{% url "index" %}" >Home</a>
            </li>
        </ul>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    

        <div class="collapse navbar-collapse" id="navbar">
    
          <ul class="navbar-nav mr-0">
              <li class="nav-item">
                  <a class="nav-link active" href="{% url "add_project" %}">Add Project</a>
              </li>
              
              <li class="nav-item">
                  <a class="nav-link active" href="{% url "technical_review" %}" >Technical review</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link" href="#">PRC_Review</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link" href="#">PRC_Meeting</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link" href="#">NFR_Created</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link" href="#">Closed</a>
              </li>

          </ul>
    
          <!-- <form class="form-inline my-2 my-md-0">
            <input class="form-control" type="text" placeholder="Search">
          </form> -->
        </div>
      </nav>

  <div class="container-fluid mt-4">
  {% block content %}
    
  {% endblock %}
  </div>
  {% block javascript %}
  
  {% endblock %}
</body>
</html>