{% extends "base.html" %}
{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        {% if project %}
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col md-10">
                    <div class="card card-info">
                        <div class="card-header"><h5 class="float">Project Title : <b class="text-info">{{ project.project_title }}</b></h5></div>
                        
                        <div class="card-body text-left">
                            <div class="row">
                                <div class="col-md-7">
                                        <p class="card-text"> <b>Description</b> <br> {{ project.description }}</p>
                                        <p class="card-text"> <b>Status</b>  : {{ project.get_status_display }}</p>
                                        <p class="card-text"> <b>Category</b>  : {{ project.project_category }}</p>
                                        <p class="card-text"> <b>Unit</b>:{{ project.unit }}</p>
                                        <p class="card-text"> <b>Country</b>  : {{ project.country }}</p>
                                        <p class="card-text"> <b>Sub Office</b>  : {{ project.sub_office }}</p>
                                        <p class="card-text"><b>Review Date : </b> <strong>{{ project.start_date }} to {{ project.end_date }}</strong></p>
                                </div>
                                <div class="col-md-5">
                                    <table id="gallery" class="table table-bordered teable-responsive mt-2">
                                        <thead>
                                            <tr>
                                                <th>Project Uploads</th>
                                            </tr>
                                        </thead>
                                            <tbody>
                                                {% for document in documents %}
                                                {% if document %}
                                                <tr>
                                                <td><a href="{{ document.name }}">{{ document.name }}</a></td>
                                                </tr>
                                                {% else %}
                                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                                        No files have been uploaded here yet
                                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                          <span aria-hidden="true">&times;</span>
                                                        </button>
                                                </div>
                                                {% endif %}
                                                {% endfor %}
                                            </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-md-1"></div>

        </div>
 
        {% endif %}
    {% endif %}
{% endblock %}